<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/adminpage/css/404.css"/>
</head>
<body>
    <a href="https://codepen.io/uiswarup/pen/qBebRpq" target="_blank">
        <header class="top-header"></header>
        
        <!--dust particle-->
        <div>
            <div class="starsec"></div>
            <div class="starthird"></div>
            <div class="starfourth"></div>
            <div class="starfifth"></div>
        </div>
        <!--Dust particle end-->
        
        <div class="lamp__wrap">
            <div class="lamp">
                <div class="cable"></div>
                <div class="cover"></div>
                <div class="in-cover">
                    <div class="bulb"></div>
                </div>
                <div class="light"></div>
            </div>
        </div>
        <!-- END Lamp -->

        <section class="error">
            <div class="error__content">
                <div class="error__message message">
                    <h1 class="message__title">{{errorTitle}}</h1>
                    <p class="message__text">
                        {{errorMessage}}
                    </p>
                </div>
                <div class="error__nav e-nav">
                    <a href="/" class="e-nav__link">Go to Homepage</a>
                </div>
            </div>
        </section>
    </a>
</body>
</html>
