<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>500 - Internal Server Error</title>
  <link rel="stylesheet" href="/adminpage/css/500.css" />
</head>
<body>
  <div id="error">
    <div id="box"></div>
    <h3>ERROR 500</h3>
    <p>Things are a little <span>unstable</span> here</p>
    <p>I suggest come back later</p>
  </div>
</body>
</html>
