<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Log In Page</title>
      <link rel="icon" type="image/png" href="https://www.ozbe.uz/cdn/shop/files/logos_6efde8f7-f42c-43cb-ae55-02f697d16016.png?crop=center&height=32&v=1696065088&width=32">
  </head>

  <body>
    <div class="login-box">
      <h2>Log In</h2>
      <form action="/api/auth/login" method="POST">
        <div class="user-box">
          <input
            id="email"
            type="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>

        <div class="user-box">
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>

        <button class="submit" type="submit">
          <span></span><span></span><span></span><span></span>
          Submit
        </button>
      </form>
    </div>

    {{!-- <script src="/adminpage/js/login.js"></script> --}}
  </body>

</html>